/* font */
* {
    font-family: 'Mukta', sans-serif;
    line-height: 1.5rem;
    text-align: center;
    color: rgb(87, 88, 88);
    box-sizing: border-box;
}

img {
    object-fit: contain;
}


/* navigation bar */
header {
    width: 100vw;
    background-color: #fafafa;
    text-align: center;
    padding: .5px 0 40px;
}

#header-name {
    display: block;
    font-size: 1.6rem;
    padding: 20px 0 20px 0;
}

#nav-bar {
    margin: 20px auto 0;
}

#main-nav li {
    background-color: white;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    margin: 8px 7%;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

#profile{
    margin: 30px auto 0;
    text-align: center;
}

#profile-photo {
    width: 70vw;
    margin: 10px auto 25px;
}

#intro {
    margin: 10px 7% 0;
    font-weight: lighter;
    color: rgb(129, 131, 133);
}

/* protfolio */
#ph {
    font-size: medium;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto;
}

#portfolio {
    width: 100vw;
    text-align: center;
}

.project img:first-child {
    padding-top: 0;
}

.project img{
    width: 86vw;
    padding-top: 15px;
}

.project p {
    width: 86vw;
    margin: 0 auto;
    padding-bottom: 60px;
}

/* footer */
footer {
    background-color: #fafafa;
    padding: 2rem 0;
}

footer > * {
    width: 86vw;
    margin: 0 auto;
}
footer h1 {
    text-transform: uppercase;
    font-size: medium;
    padding-bottom: .8rem;
}

footer > p {
    color: rgb(167, 172, 175);
    font-weight: 300;
    padding: .7rem 0;
}

.contact-info {
    font-weight: 500;
    padding-left: .8rem;
    color: rgb(139, 138, 138);
}

footer .hr{
    margin-top: 1.5rem;
    margin-bottom: .4rem;
    background-color: rgb(139, 138, 138);
    height: 1px;
}

#footer-container-1,
#footer-container-2 {
    padding-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
}

#footer-container-2 {
    display: none;
}

#footer-container-1 p,
#footer-container-2 p {
    justify-self: flex-start;
    padding: 0;
    margin: 0;
}

#footer-container-1 *,
#footer-container-2 * {
    font-weight: 650;
    font-size: .9rem;
}

#footer-container-1 a {
    margin-left: auto;
}

/* For medium-size screen  */

@media (min-width: 768px) { 
    #main-nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    #main-nav>li {
        background-color: #fafafa;
    }

    #profile {
        display: flex;
        max-width: 90vw;
        justify-content: center;
        flex-wrap: nowrap;
    }

    #intro {
        min-width: 0;
        margin-left: 0;
        margin-right: 5px;
        flex: 1 1 55%;
        order: -1;
    }

    #profile-photo {
        min-width: 0;
        margin-left: 20px;
        flex: 1 1 45%;
    }

    #project-container {
        display: flex;
        margin: 0 auto;
        width: 90vw;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project {
        min-width: 0;
        flex: 0 1 47%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .project img {
        max-height: 300px;
    }

    .project > * {
        min-width: 0;
        flex: 1 1 100%;
    }

    #footer-container-1 {
        display: none;
    }

    
    #footer-container-2 {
        display: flex;
    }

    #footer-container-2 * {
        font-size: .8rem;
    }

    #footer-nav {
        margin-left: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    #footer-nav>a {
        flex: 1 1 30%;
        padding-left: 12px;
    }
}

/* for large-size screen */

@media (min-width: 1024px) { 

    #nav-bar {
        max-width: 90vw;
        margin: 60px auto 10px;
        display: flex;
    }

    #header-name {
        padding: 0;
        margin: 0;
    }

    #main-nav {
        margin: 0 0 0 auto;
        padding: 0;
    }

    #main-nav li{
        margin: 0;
        padding: 0 10px;
    }

    #profile {
        min-width: 90vw;
    }
    #intro {
        margin-right: 5%;
        font-size: 1.2rem;
        text-align: start;
        font-weight: 350;
        line-height: 2.25rem;
    }

    #ph {
        font-size: larger;
        margin: 70px auto;
    }

    .project {
        flex: 0 1 30%;
    }

    .project img {
        max-height: 250px;
    }

    #footer-info {
        max-width: 50vw;
    }

    footer p {
        margin: 15px auto;
        padding-bottom: 30px;
    }

    #msg {
        padding-top: 10px;
        padding-bottom: 25px;
    }

    footer * {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    
    #footer-container-2 * {
        font-size: 1rem;
    }

    #footer-nav>a {
        padding-left: 20px; 
    }
}

